# =========================
# Python
# =========================
__pycache__/
*.pyc
*.pyo
*.pyd
*.pyc.*

# Virtual env
.venv/
venv/
env/
.env/

# =========================
# Jupyter / notebooks
# =========================
.ipynb_checkpoints/

# =========================
# Data (IMPORTANT 🔥)
# =========================
# data/raw/
# data/interim/
# data/processed/

#*.csv
*.parquet

# =========================
# Models (très lourds)
# =========================
models/
*.bin
*.pt
*.pth
*.safetensors

# HuggingFace cache
.cache/
huggingface/
~/.cache/huggingface/

# =========================
# Logs
# =========================
logs/
*.log

# =========================
# OS
# =========================
.DS_Store
Thumbs.db

# =========================
# VSCode / IDE
# =========================
.vscode/
.idea/

# =========================
# Misc
# =========================
*.tmp
*.bak